<!-- make sure to include fontawesome and bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="undefined" crossorigin="anonymous" />
<link rel="stylesheet" href="css/home.css">
<div class="container">
    <h2>Todo List | <%= title %></h1>
    <form action="/users/profile" method="post">
        <input type="text" name="todoText" required>
        <button type="submit"><i class="fas fa-arrow-circle-right"></i></button>
    </form>
    <ul class="todoList">
        <% for (let item of items) { %>
            <li><%= item.todoText %></li>
        <% } %>
    </ul>
</div>
